@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');

.btnGroup {
	display: flex;
	justify-content: center;
}

.btnGroup a {
	background-color: #c7b198;
	width: 8rem;
	text-align: center;
	padding: 10px 0px;
	border-radius: 5px;
	font-size: 1.3rem;
	color: #f0ece3;
	font-family: 'Cormorant', serif;
	box-shadow: 1px 1px #dfd3c3, 2px 2px #dfd3c3, 3px 3px #dfd3c3, 4px 4px 1px #dfd3c3;
	transition: box-shadow 0.2s;
}

.btnGroup a:active {
	box-shadow: 0px 0px;
}

.title {
	text-align: center;
	font-family: 'Cormorant', serif;
	font-weight: 600;
	font-size: 2.8rem;
	color: #596e79;
}
